#menu {
 position:fixed;
 font-family: 'Trade Winds';
 float: left;
 width: 50px;
 height: 100%;
 border-radius:3px;
 left: 0px;
 z-index:999;
}

.menuItem {
  background-color:#333333;
  height: 60px;
	margin-top: 10px;
  position: relative;
  top: 50px;
  width: 35px;
  transition: width 0.5s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.text {
  width:200px;
  height: 100%;
  position: relative;
  float:right;
  top: 35%;
}


.menuItem:hover{
  background: #444444;
  width: 200px;
}

.menu-item-icon{
  float:right;
  margin-right:10px;
}

h1 {
	text-shadow: 0px 1px 1px #000;
	color: #6e6e6e;
}