body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  overflow: hidden;
}

#content {
  margin:0px;
  height: calc(100vh - 50px);
  margin-top: 50px;
  overflow: auto;
}

#content::-webkit-scrollbar {
  width: 10px;
}
 
#content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#content::-webkit-scrollbar-thumb {
  background-color: #64a19d;
  outline: 1px solid rgba(50, 50, 50, 0.5);
}
#container {
  color:#64a19d;
}

#filters {
  left:-230px;
  width:250px;
  height:100vh;
  background-color: rgba(8, 10, 13,0.95);
  position:fixed;
  z-index:999;
  color:#64a19d;
  padding:20px;
  transition: left 0.3s;
}
#filters:hover {
  left:0px;
}

.background-image {
 width: 100vw;
 height: 100vh;
 position: fixed;
 background-size:cover;
}

.background-mask {
  background-color:#1a191f;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index:-10;
}

.lds-ripple {
  top:50%;
  left:50%;
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}