body {
  background-image:url('texture.png');
    color: white;
    padding: 10px;
    font-family: Arial;
    text-align: center;
    margin:0px;
    padding:0px;
    height:100vh;
    width:100%;
  }

  .movie {
    height:250px;
    width:180px;
    margin:2px;
    float:left;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
  }

  .movie:hover {
    opacity:0.4;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
  }

  .movie_poster{
    border-radius:10px;
    width:100%;
    height:100%;
  }

  #mainPage {
    border-top:10px;
    margin-left:205px;
    height: 100%;
    background-color:
  }

  .movieTitle {
    font-family: 'Trade Winds';
    float: left;
    font-size:30pt;
    margin: 10px;
    font-weight: bold;
    width: 98%;
    text-align: left;
  }

  .player {
    width:65%;
    margin:auto;
  }

  .movieDescription {
    font-family: 'Josefin Slab';
    width:100%;
    float:left;
    margin-bottom: 25px;
  }
  .backgroundMask {
    width: 100%;
    height: 100%;
    background-image:url('texture.png');
  }

  .backgroundMask::after {
    width: 100%;
    height: 100%;
    background-color:black;
    opacity:0.5;
  }